*{
margin: 0;
}

body{
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
}
a{
    margin: 20px;
    text-decoration: none;
    color: black;

}
section p,img{
   padding: 10px;
   
}
#TomandJerry{
    background-color: #FAB201;
}

#ShinChan{
   background-color: #FB4F93;
}

#Pokemon{
    background-color: #00C7DA;
}